/* Estilos generales para todos los elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilos generales para todo el contenido */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0e2; /* Fondo gris claro */
    color: #333; /* Texto negro */
    margin: 0; /* Elimina márgenes predeterminados del cuerpo */
    display: flex;
    flex-direction: column;
    min-height: 100vh ;
}

/* Estilos para el encabezado y el pie de página */
header {
    position: sticky;
    background-color: #64c27b; /* Fondo verde */
    color: black; /* Texto blanco */
    padding: 10px;
    display: grid; /* Activa Grid Layout */
    grid-gap: 20px; /* Espacio entre las columnas */
    align-items: center; /* Centra verticalmente */
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #64c27b; /* Fondo verde */
    color: black; /* Texto negro */
    padding: 10px 0; /* Espaciado interno del pie de página */
    text-align: center; /* Centra el contenido del pie de página */
}

/* Estilo para el logo en el encabezado (colocado en el centro) */
h1 {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: rgb(2, 2, 2);
    background-color:  #48a35f;
}

h2 {
    padding: 10px;
}

p {
    padding: 10px;
    color: black;
}

.title {
    color: aquamarine;
}

.logo {
    max-width: 100px; /* Ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Elimina cualquier espacio adicional alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente en la barra de navegación */
}

/* Aplicar Flexbox a la lista de productos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px; /* Aumenta el margen inferior para agregar espacio entre productos y footer */
}

.product {
    width: calc(30% - 30px);
    margin-bottom: 40px; /* Aumenta el margen inferior entre productos */
    margin-top: 50px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    /* Estilos para los productos, como colores, tipografía, etc. */
}


/* Estilos para la lista de navegación */
nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

/* Estilos para los elementos de la lista */
nav li {
    margin: 0 20px; /* Añade espacio horizontal entre elementos */
    text-align: center; /* Centra el texto dentro de los elementos */
    flex: 1; /* Distribuye el espacio de manera uniforme en pantallas pequeñas */
}

/* Estilos para los enlaces */
nav a {
    text-decoration: none;
    color: black; /* Texto blanco para los enlaces */
    font-weight: bold;
}

/* Estilos para los enlaces al pasar el mouse */
nav a:hover {
    background-color: #3fa242; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el formulario */
form {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    margin-bottom: 90px;
    padding: 20px; /* Espaciado interno */
    background-color: #f4f4f4; /* Fondo gris claro */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para las etiquetas de los campos */
label {
    display: block; /* Hace que las etiquetas sean bloques para alinearlas correctamente */
    margin-bottom: 10px; /* Espacio entre etiquetas */
}

/* Estilos para los campos de entrada de texto y textarea */
input[type="email"],
input[type="text"],
textarea {
    width: 100%; /* Ancho completo del campo de entrada */
    padding: 5px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio inferior entre campos */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 3px; /* Bordes redondeados */
}

/* Estilos para el botón de enviar */
button[type="submit"] {
    background-color: #4bbd4f; /* Fondo verde */
    color: #fff; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilos para el botón de enviar al pasar el mouse */
button[type="submit"]:hover {
    background-color: #3fa242; /* Cambia el color de fondo al pasar el mouse */
}

.obligatorio {
    color: red; /* Cambia el color del asterisco a rojo */
    margin-left: 5px; /* Ajusta el espaciado entre el campo y el asterisco */
}

.parrafo-centrado {
    text-align: center; /* Centra el texto horizontalmente */
    margin: 0 auto; /* Centra el elemento en el eje horizontal */
    max-width: 400px; /* Ancho máximo del párrafo para que no sea demasiado ancho en pantallas grandes */
    padding: 30px;
    color: black;
}

/* Estilos específicos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Cambia la dirección de los elementos en pantallas pequeñas */
    }
    nav li {
        margin: 10px 0; /* Añade espacio vertical entre elementos en pantallas pequeñas */
    }
}
